<h2>Edit TODO</h2>

<form [formGroup]="form">

  <mat-form-field>
    <mat-label>Enter TODO title</mat-label>
    <input matInput placeholder="TODO title" formControlName="name" required>
    <mat-error *ngIf="name.invalid">{{ getErrorMessage(name) }}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Enter TODO description</mat-label>
    <input matInput placeholder="Description" formControlName="description" required>
    <mat-error *ngIf="name.invalid">{{ getErrorMessage(description) }}</mat-error>
  </mat-form-field>

  <div>
    <button mat-raised-button color="warn" (click)="remove()">Delete</button>
    <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="save(form)">Save</button>
  </div>
</form>


